<!-- dashboard.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>대시보드</title>
</head>

<body>
    <h1>MENU</h1>
    <h2>{{ user_name }}님 환영합니다!</h2>
    <h5>역할 : {{ user_role }}</h5>
    <!-- Add your dashboard content here -->

    <br>

    <!-- Add links to other menus -->
    <a href="{{ url_for('view_board') }}">게시판</a>
    <br>
    <a href="{{ url_for('meals') }}">식단표 보기</a>
    <br>
    <a href="{{ url_for('notification') }}">알림장</a>
    <br>
    <a href="{{ url_for('schedule') }}">스케줄</a>
    <br>
    <a href="{{ url_for('logout') }}">로그아웃</a>

</body>

</html>