<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Write Notification</title>
</head>
<body>
    <h1>Write Notification</h1>

    {% if insert_messages %}
        <p>Message inserted successfully!</p>
    {% endif %}

    <form method="post" action="/notification/write">
        <label for="message">Message:</label>
        <textarea name="message" id="message" rows="4" cols="50"></textarea><br>

        <label for="image">Image URL:</label>
        <input type="text" name="image" id="image"><br>

        {% if user_role == 'Teacher' %}
            {% if students %}
                
                <label for="selected_student_id">Select Student:</label>
                <select name="selected_student_id" id="selected_student_id">
                    {% for student in students %}
                        <option value="{{ student[0] }}" required>{{ student[1] }}</option>
                    {% endfor %}
                </select><br>
            {% else %}
                <p>No student information available</p>
            {% endif %}
        {% endif %}
        <input type="submit" value="채팅 보내기">
    </form>
    
</body>
</html>
